body { padding-top: 90px; }
.container-fluid {
  margin: 10px;
}
.navbar img {
  margin-top: 4px;
  height: 35px;
  width: 200px;
}
ul {
list-style-type:none;
}
.navbar-right {
  float:right;
}
.merchant {
  width: 60%;
  cursor: pointer;
}
.category {
  width: 20%;
  cursor: pointer;
}
tr img {
    width: 8%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.table td, .table th {
    vertical-align: middle !important;
}
.pageButton {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    display: inline;
    padding: 8px 16px;
}
.pageButton:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pageButton:link {
    text-decoration: none;
}
.pageButtons {
  width: 30%;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 600px){
  .pageButtons {
    width: 50%;
  }
}
.pageNumber {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.rightButton {
    text-align: right;
    float: right;
}
.leftButton {
    text-align: left;
    float: left;
}
.nanorevolution h1 {
  font-size: 350%;
  margin: 40px 0px 70px 0px;
  color: rgba(73, 144, 224, 255)
}
.nanolist {
  font-weight: bold;
}
.merchantdirectory {
  margin: 50px 0px 20px 0px;
}
.whatisnano {
  margin: 40px 0px 40px 0px;
}
.page-footer {
  margin: 30px 0px 5px 0px;
}
.checkOut {
  margin-bottom: 13px;
}
